<div class="row example-margin">
    <div class="col-sm-3">
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    </div>

    <div class="col-sm-3">
        <h2>List of players</h2> 
    </div>

    <div class="col-sm-3">
    </div>

    <div class="col-sm-3">
        <button id="compose-button" type="button" class="btn btn-primary btn-lg hidden pull-right" (click)="openDialog()">Send Email ...</button>
    </div>
</div>
<div class="row example-margin" >
    <div class="col-sm-3">
        <div class="panel panel-danger"
            dnd-sortable-container [sortableData]="out.widgets" [dropZones]="['widget-dropZone']">
            <div class="panel-heading">
                {{out.name}}
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li *ngFor="let widget of out.widgets; let x = index" class="list-group-item"
                        dnd-sortable [sortableIndex]="x" [dragEnabled]="!dragOperation"
                        [dragData]="widget">{{widget.name}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary"
          dnd-sortable-container [sortableData]="regularGs.widgets" [dropZones]="['widget-dropZone']">
          <div class="panel-heading">
              {{regularGs.name}}
          </div>
          <div class="panel-body">
              <ul class="list-group">
                  <li *ngFor="let widget of regularGs.widgets; let x = index" class="list-group-item"
                      dnd-sortable [sortableIndex]="x" [dragEnabled]="!dragOperation"
                      [dragData]="widget">{{widget.name}}</li>
              </ul>
          </div>
      </div>
      <div class="panel panel-primary"
          dnd-sortable-container [sortableData]="regularDs.widgets" [dropZones]="['widget-dropZone']">
          <div class="panel-heading">
              {{regularDs.name}}
          </div>
          <div class="panel-body">
              <ul class="list-group">
                  <li *ngFor="let widget of regularDs.widgets; let x = index" class="list-group-item"
                      dnd-sortable [sortableIndex]="x" [dragEnabled]="!dragOperation"
                      [dragData]="widget">{{widget.name}}</li>
              </ul>
          </div>
      </div>

      <div class="panel panel-primary"
          dnd-sortable-container [sortableData]="regularFs.widgets" [dropZones]="['widget-dropZone']">
          <div class="panel-heading">
              {{regularFs.name}}
          </div>
          <div class="panel-body">
              <ul class="list-group">
                  <li *ngFor="let widget of regularFs.widgets; let x = index" class="list-group-item"
                      dnd-sortable [sortableIndex]="x" [dragEnabled]="!dragOperation"
                      [dragData]="widget">{{widget.name}}</li>
              </ul>
          </div>
      </div>
      <div class="panel panel-primary"
          dnd-sortable-container [sortableData]="spares.widgets" [dropZones]="['widget-dropZone']">
          <div class="panel-heading">
              {{spares.name}}
          </div>
          <div class="panel-body">
              <ul class="list-group">
                  <li *ngFor="let widget of spares.widgets; let x = index" class="list-group-item"
                      dnd-sortable [sortableIndex]="x" [dragEnabled]="!dragOperation"
                      [dragData]="widget">{{widget.name}}</li>
              </ul>
          </div>
      </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-info"
        dnd-sortable-container [sortableData]="teamDarkG.widgets" [dropZones]="['widget-dropZone']">
        <div class="panel-heading">
            {{teamDarkG.name}}
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li *ngFor="let widget of teamDarkG.widgets; let x = index" class="list-group-item"
                    dnd-sortable [sortableIndex]="x" [dragEnabled]="!dragOperation"
                    [dragData]="widget">{{widget.name}}</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-info"
        dnd-sortable-container [sortableData]="teamDarkD.widgets" [dropZones]="['widget-dropZone']">
        <div class="panel-heading">
            {{teamDarkD.name}}
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li *ngFor="let widget of teamDarkD.widgets; let x = index" class="list-group-item"
                    dnd-sortable [sortableIndex]="x" [dragEnabled]="!dragOperation"
                    [dragData]="widget">{{widget.name}}</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-info"
        dnd-sortable-container [sortableData]="teamDarkF.widgets" [dropZones]="['widget-dropZone']">
        <div class="panel-heading">
            {{teamDarkF.name}}
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li *ngFor="let widget of teamDarkF.widgets; let x = index" class="list-group-item"
                    dnd-sortable [sortableIndex]="x" [dragEnabled]="!dragOperation"
                    [dragData]="widget">{{widget.name}}</li>
            </ul>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="panel panel-info"
          dnd-sortable-container [sortableData]="teamWhiteG.widgets" [dropZones]="['widget-dropZone']">
          <div class="panel-heading">
              {{teamWhiteG.name}}
          </div>
          <div class="panel-body">
              <ul class="list-group">
                  <li *ngFor="let widget of teamWhiteG.widgets; let x = index" class="list-group-item"
                      dnd-sortable [sortableIndex]="x" [dragEnabled]="!dragOperation"
                      [dragData]="widget">{{widget.name}}</li>
              </ul>
          </div>
      </div>
      <div class="panel panel-info"
          dnd-sortable-container [sortableData]="teamWhiteD.widgets" [dropZones]="['widget-dropZone']">
          <div class="panel-heading">
              {{teamWhiteD.name}}
          </div>
          <div class="panel-body">
              <ul class="list-group">
                  <li *ngFor="let widget of teamWhiteD.widgets; let x = index" class="list-group-item"
                      dnd-sortable [sortableIndex]="x" [dragEnabled]="!dragOperation"
                      [dragData]="widget">{{widget.name}}</li>
              </ul>
          </div>
      </div>
      <div class="panel panel-info"
          dnd-sortable-container [sortableData]="teamWhiteF.widgets" [dropZones]="['widget-dropZone']">
          <div class="panel-heading">
              {{teamWhiteF.name}}
          </div>
          <div class="panel-body">
              <ul class="list-group">
                  <li *ngFor="let widget of teamWhiteF.widgets; let x = index" class="list-group-item"
                      dnd-sortable [sortableIndex]="x" [dragEnabled]="!dragOperation"
                      [dragData]="widget">{{widget.name}}</li>
              </ul>
          </div>
      </div>
  </div>
</div>